<div>a whole new world</div>
<ul>
  <% @todos.each do |todo| %>
    <li>
      <span><%= todo.name %></span>
      <span><%= todo.done ? "âœ”ï¸" : "ð—‘" %></span>
    </li>
  <% end %>
</ul>
<form id="todo_form">
  <input id="todo_input" type="text" value="" />
  <button type="submit">Create Todo</button>
</form>

<script type="text/javascript">
  <%= erb :"_index.js" %>
</script>
