<div>a whole new world</div>

<ul id="todo_list">
  <%= render :index_items, locals: { todos: @todos } %>
</ul>

<form id="todo_form">
  <input id="todo_input" type="text" value="" />
  <button type="submit">Create Todo</button>
</form>

<script type="text/javascript" src="/public/javascripts/application.js"></script>
